<div class="banner collapse" id="banner">
  <div class="container">
    <div class="row pt-3">
      <div class="col">
        <p>From July 1 we're introducing a new pricing model. Read our latest <a href="/blog/introducing-the-all-access-pass/">blog</a> to find out more.</p>
      </div>
      <div class="col-1">
        <button type="button" class="close" aria-label="Close" data-toggle="collapse" data-target="#banner" >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  </div>
</div>