<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">COVID-19 Information</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h2>We're open, with a few rules</h2>
                <!--<p class="lead">We are open! However, there are a few rules.</p>-->
                <p>In order to keep everyone safe we are enforcing the following:</p>
                <ul>
                    <li>Upon entry, proof of vaccination or proof of medical exemption to be supplied</li>
                    <li>All crew must wear masks and check-in upon entry</li>
                    <li>Maximum of 15 people in your crew</li>
                </ul>
                <p>If there is non-compliance during the shoot, we reserve the right to cancel on the spot with no refund.</p>
                <p>Adjustments will be made to these entry requirements as NSW moves through the re-opening timeline through October to December. Please get in <a href="/contact/">contact</a> if you have questions around this.</p>
                <p>In the meantime we are:</p>
                <ul>
                    <li>Deep cleaning the studio daily</li>
                    <li>Keeping antibacterial hand wash available at all times</li>
                    <li>Maintaining a record of everyone who comes into the studio to assist NSW Health with contact tracing if required</li>
                </ul>
                <p>If you are ready you can <a href="https://deskandstudio.simplybook.me/v2/#book" target="_blank">Book now</a>.</p>
                <p>Lyn</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>