---
layout: default
---
      <main class="row">
        <div class="col">

          {{ content }}

        </div>
      </main>
      <article class="row row-cols-1 row-cols-md-3">
        {% assign this = page.title | replace: ' ','-' | downcase %}

          {% for package in site.data[this] %}
          <div class="col mb-4">
            <div class="card text-center">
              <img src="/images/equipment-hire/{{ package.name | replace: ' ', '-' | downcase }}.jpg" class="card-img-top" alt="{{ package.name }} contents">
              <div class="card-body">
                <h4 class="card-title">{{ package.name }}</h4>
                {% if package.price %}<p class="card-text display-3">${{ package.price }}*</p>{% endif %}
                <ul class="card-text list-unstyled">
                  <li>{{ package.includes | join: '</li><li>' }}</li>
                  <li>1 day hire</li>
                  <li><em>*inc. GST</em></li>
                </ul>
                <a class="btn btn-primary" href="{{ site.baseurl }}/contact/">Contact us</a>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </article>
          